build
*.out
*.swp
*.o
*.d
*.txt
Unity/
*.bmp
!res/**/*.bmp
!test/assets/**/*.bmp
!test/assets/*.txt
!res/**/*.txt
.vscode
*.csv
*.hex
tags
.vscode
res/layout/*.glade~
tmp
network_perfs/*.txt
network_perfs/*.png