name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: docker build . --file ./docker/Dockerfile.test --tag prismocr/test:$(date +%s)
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: clang-format lint
        uses: DoozyX/clang-format-lint-action@v0.11
  check:
    runs-on: ubuntu-latest
    name: Code checking
    steps:
      - uses: actions/checkout@v2
      - run: docker build . --file ./docker/Dockerfile.check --tag prismocr/check:$(date +%s)

